/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.text-justify {
  text-align: justify;
}



/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
}

img {
  border-style: none;
}
html, body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
html {
  overflow-x: hidden;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

img {
  vertical-align: middle;
}



.w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
  content: "";
  display: table;
  clear: both;
}

.w3-content, .w3-auto {
  margin-left: auto;
  margin-right: auto;
}
.w3-content {
  max-width: 980px;
}



.w3-row-padding, .w3-row-padding > .w3-half, .w3-row-padding > .w3-third, .w3-row-padding > .w3-twothird, .w3-row-padding > .w3-threequarter, .w3-row-padding > .w3-quarter, .w3-row-padding > .w3-col {
  padding: 0 8px;
}
.w3-container, .w3-panel {
  padding: 0.01em 16px;
}

.w3-opacity, .w3-hover-opacity:hover {
  opacity: 0.60;
}

.w3-xlarge {
  font-size: 24px !important;
}

.w3-jumbo {
  font-size: 64px !important;
}

.w3-center {
  text-align: center !important;
}

.w3-margin {
  margin: 16px !important;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  margin: 20px 0;
  position: relative; /* Add this to ensure fullscreen works correctly */
}

.video-container video {
  width: 100%;
  max-width: 720px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  object-fit: contain;
  background-color: black;
  margin: 100px 0;
}

@media (max-width: 720px) {
  .video-container video {
      width: 100%;
      height: auto;
      margin: 155px 0;
  }


  
}

@media (min-width:800px) {
  .iamge-height {
    
    height:75%;
  }

  
}

body,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
h1{font-family: "Monserrat",sans-serif;}
.w3-bar,button { font-weight: ;
  font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee,.fa-medkit {font-size:200px}

#toggle {
  display: none;
}

.grid-container {
  display: grid;
  gap: 100px;
}
.grid-item {
  padding: 16px;
  text-align: center;
}
.row-wrapper:nth-child(odd) {
  background-color: white;
}
.row-wrapper:nth-child(even) {
  background-color: #f1f1f1; /* Light grey */
}
@media (min-width: 768px) {
  .imgsafe{
    max-width: fit-content;
  }


  .heightOnDesktop {
height: 50%;

  }

  .hideOnDesktop {
    display: none;
  }

  .Menu {
    display: none;
  }
.navMobile {
  display:none;
  
}

  .grid-container {
    grid-template-columns: repeat(2, 1fr);

  }

  .titlu{
  color:white;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  padding-top: 5vw; 
/*  padding-right: 26vw;*/
  }
  .mama{

opacity: 95%;
text-align: center;
color: white;
font-weight: bold;
font-size: 25px;
display: flex;
justify-content: space-around;
padding-top: 15px;
align-items: center;
}

.logo img{
height: auto;
width: 100px
}

.list{
position: relative;
}

.stanga, .dreapta{
display: flex;
gap: 8vw;
}


.list:after {
background: none repeat scroll 0 0 transparent;
bottom: 0;
color:white;
content: "";
display: block;
height: 2px;
left: 50%;
position: absolute;
background: #fff;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}
.list:hover:after { 
width: 100%; 
left: 0; 
}
.list a{
color:white;
text-decoration: none;
}

.list:hover{
  opacity: 80%;
}

}
@media (max-width: 767px) {
  .heightOnMobile {
    height: 35%;
  }
  .hideOnMobile {
    display: none;
  }
  .mama{
   
  }
  .grid-container {
    grid-template-columns: 1fr;
  }

 .w3-container { 
  padding:0px;
}

  .grid-item:nth-child(odd) {
  background-color: white;
}
.grid-item:nth-child(even) {
  background-color: #f1f1f1; /* Light grey */
}
.row-wrapper:nth-child(even) {
  background-color: transparent; /* Light grey */
}



nav{
background-color: transparent;
box-shadow: 3px 3px 5px (rgba(0,0,0,0.1));
}


nav li {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  color: #f1f1f1;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar li:first-child {
  color: black;
  right: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px; /* Added padding to create space at the top */
}

.sidebar li {
  width: 100%;
  margin-bottom: 20px; /* Added margin to create space between list items */
}

.sidebar a {
  width: 100%;
}

@media (max-width: 800px) {

  .imgsafe{
    width: 100%;
  }
  .sidebar {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }

}

  .Menu {
    padding-left: 85%;
    padding-top: 30px;
  }

  .sidebar li:first-child {
    padding-left: 75%;
    padding-top:0px;
    margin-bottom: 30px; /* Increase space between the close button and the first list item */
  }

  .sidebar li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




