<!DOCTYPE html>
<html lang="en">
<head>
<title>Prim ajutor </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="../static/manifest.json">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/style_firstaid.css" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<style>


</style>
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
</head>
<body>



<!-- Header -->
<header class="w3-container w3-center w3-red" style="padding-bottom: 255px ; background-image: url('../static/FirstAid/landing2.png'); background-size: cover; background-position: center;">
  <div class="mama">
    <div class="stanga">
        <div class="list"><a href="index.html">Ridicarea Rautek</a></div>
        <div class="list"><a href="index.html">Manevra Heimlich</a></div>
    </div>
    <div class="logo">
      <a href="index.html"><img src="../logo1.png" alt="Logo"/></a>
    </div>
    <div class="dreapta">
        <div class="list"><a href="index.html">Masaj Cardiac</a></div>
        <div class="list"><a href="index.html">Poziţia de siguranță</a></div>
    </div>
 </div>

 

    <h1 class="w3-margin w3-jumbo titlu" style="font-weight: 800; color:white">Ridicarea Rautek</h1>
   
  <div class="video-container">
    <video playsinline controls> 
      <source src="../static/FirstAid/rautek.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>




</header>



<!-- Steps Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-center row-wrapper">
  <div class="w3-content grid-container w3">
    <div class="grid-item w3-l">
      <h1>Pasul 1</h1>
      <h5 class="w3-padding-32">Așază brațele victimei pe lângă corp</h5>
      <img src="../static/FirstAid/rautek1.png" alt="Pasul 1" style="width:100%">
    </div>
    <div class="grid-item">
      <h1>Pasul 2</h1>
      <h5 class="w3-padding-32">îngenuncheză în spatele capului victimei. Așază o mână sub cap și pe cealaltă între omoplații victimei. Ridică cu atenție capul și umerii victimei si apropie-te mai mult de aceasta.</h5>
      <img src="../static/FirstAid/rautek2.png" alt="Pasul 2" style="width:100%">
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container w3-center row-wrapper">
  <div class="w3-content grid-container w3">
    <div class="grid-item">
      <h1>Pasul 3</h1>
      <h5 class="w3-padding-32">Ridică spatele victimei în poziția șezând. Susține umerii victimei.</h5>
      <img src="../static/FirstAid/rautek3.png" alt="Pasul 3" style="width:100%">
    </div>
    <div class="grid-item">
      <h1>Pasul 4</h1>
      <h5 class="w3-padding-32">Trece-ți mâinile pe sub subsoara victimei și apucă unul dintre antebrațele acesteia. Prinde cu o mână încheietura mâinii victimei și cu cealaltă antebrațul acesteia.</h5>
      <img src="../static/FirstAid/rautek4.png" alt="Pasul 4" style="width:100%">
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container w3-center row-wrapper">
  <div class="w3-content grid-container w3">
    <div class="grid-item">
      <h1>Pasul 5</h1>
      <h5 class="w3-padding-32" style="padding-bottom: 100px ;">Stai pe vine, fără a da drumul brațului victimei. Acum victima se află între picioarele tale depărtate. Aprasă bine brațul victimei pe pieptul acesteia.</h5>
      <img src="../static/FirstAid/rautek5.png" alt="Pasul 5" style="width:100%">
    </div>
    <div class="grid-item">
      <h1>Pasul 6</h1>
      <h5 class="w3-padding-32">Ridică-te în picioare cu spatele drept și trage victima în sus, astfel încât aceasta să fie sprijinită de tine. Mergi cu spatele, trăgând victima după tine. Fii atent la obstacolele care s-ar putea afla în spatele tău.</h5>
      <img src="../static/FirstAid/rautek6.png" alt="Pasul 6" style="height:55%">
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// Hide the navbar when scrolling down, show it when at the top
window.onscroll = function() {toggleNavbar()};
function toggleNavbar() {
  var navbar = document.getElementById("navbar");
  if (window.pageYOffset > 300) {
    navbar.classList.add("hidden-navbar");
  } else {
    navbar.classList.remove("hidden-navbar");
  }
}
</script>

</body>
</html>
