<!DOCTYPE html>
<html>
  <head>
    <script src="../static/script.js"></script>
    <script>
       
 

</script>


    <script src="{{ url_for('static', filename='script.js') }}?v=1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Romania CDSS</title>
    <meta
      name="description"
      content=""
    />
    <meta name="theme-color" content="#70A9A1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />
  </head>
  <body>
    <main>  
      <section class="sidebar">
        <h1 class="title">Crisis Decision Support System for Decision Making</h1>
        <h2 id="country-name">Romania</h2>
        <p class="info">
          The Romania Crisis Situation Map is a comprehensive and dynamic representation of the country's vulnerability to various natural disasters, including earthquakes, floods, wildfires, and cyclones.
          <br><br>
          In times of crisis, the map becomes an invaluable tool for decision-makers to assess the severity of the situation, coordinate relief efforts, and prioritize evacuation routes. 
        </p>
        <button onclick="testButton(document.getElementById('regionChange').value)">Change Color</button>
        <select id="regionChange" onchange="document.getElementById('hiddenRegionChange').value = this.value"></select>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file" />
          <input type="hidden" name="hiddenRegionChange" id="hiddenRegionChange" />
          <input type="submit" value="Upload File" onclick="testButton(document.getElementById('regionChange'))" />
      </form>
      </section>
      <section class="content">
        <div class="map-wrapper">
          <div id="toolTip"></div>
          <object id="map" data="{{ url_for('static', filename='maps/RO.svg') }}" type="image/svg+xml"></object>

        </div>
      </section>
    </main>

  

  </body>
</html>
