<!DOCTYPE html>
<html lang="ro">
  <head>
    <script src="../static/script.js"></script>
    <script>
       
 

</script>


    <script src="{{ url_for('static', filename='script.js') }}?v=1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Romania CDSS</title>
    <meta
      name="description"
      content=""
    />
    <meta name="theme-color" content="#799351" />
    <link rel="manifest" href="../static/manifest.json">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />
  </head>
  <body>


    
    <div class="notification-bar">
      <div class="notification-content">
          <h2>ALERTE ACTIVE</h2>
          <div id="alert-list">
              <p>Nu sunt alerte active</p>
          </div>
      </div>
  </div>

  

    <div class="toggle-button" onclick="toggleNotificationBar()">
      <svg xmlns="http://www.w3.org/2000/svg" height="45px" viewBox="0 -960 960 960" width="45px" fill="#e8eaed"><path d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z"/>
      </svg>
    </div>
    

    <main>
      
      <section class="sidebar">
        <!--  <a href="/"><img src="../static/FirstAid/logo1.png" alt="Logo"/></a> -->
        

          <a href="/FirstAid" style="text-align: center; text-decoration: none;font-weight: 900; color:white"><svg class="svgMobile" xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="0 -960 960 960" width="100px" fill="#FFFFFF"><path d="M280-240h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80Zm240-140h240v-60H520v60Zm0 120h160v-60H520v60ZM160-80q-33 0-56.5-23.5T80-160v-440q0-33 23.5-56.5T160-680h200v-120q0-33 23.5-56.5T440-880h80q33 0 56.5 23.5T600-800v120h200q33 0 56.5 23.5T880-600v440q0 33-23.5 56.5T800-80H160Zm0-80h640v-440H600q0 33-23.5 56.5T520-520h-80q-33 0-56.5-23.5T360-600H160v440Zm280-440h80v-200h-80v200Zm40 220Z"/></svg><br>Manual de prim ajutor</a>
      <!-- <h2 id="country-name">Romania</h2> -->
        <p class="info">
          The Romania Crisis Situation Map is a comprehensive and dynamic representation of the country's vulnerability to various natural disasters, including earthquakes, floods, wildfires, and cyclones.
          <br><br>
          In times of crisis, the map becomes an invaluable tool for decision-makers to assess the severity of the situation, coordinate relief efforts, and prioritize evacuation routes. 
        </p>        
        
        
        <!-- button onclick="speak()">Speak</button> -->
        

       

<div class="form-container">
  <select id="regionChange" onchange="document.getElementById('hiddenRegionChange').value = this.value">
      <option value="" disabled selected>Select Region</option>
  </select>
  <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="hidden" name="hiddenRegionChange" id="hiddenRegionChange" />
      <input type="submit" value="Upload File" onclick="testButton(document.getElementById('regionChange'))" />
  </form>
</div>



<div id="auth-button"></div>
    </section>

      
      <section class="content">



        <div class="map-wrapper">
          
          <div id="toolTip"></div>
          <object id="map" data="{{ url_for('static', filename='maps/RO.svg') }}" type="image/svg+xml"></object>

        </div>

        
      </section>
      
    </main>

    <!--Chat-bot-->
    <script type="text/javascript">
      (function(d, t) {
          var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
          v.onload = function() {
            window.voiceflow.chat.load({
              verify: { projectID: '66006d209b33d8af3dc80877' },
              url: 'https://general-runtime.voiceflow.com',
              versionID: 'production'
            });
          }
          v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
      })(document, 'script');
    </script>

    <!--End Chat-bot-->


  </body>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
        $.ajax({
            url: '/get_user_data',
            type: 'GET',
            success: function(data) {
                if (data.error) {
                    // User is not logged in
                    document.getElementById('auth-button').innerHTML = '<a href="/login" class="btn">Login</a>';
                } else {
                    // User is logged in
                    document.getElementById('auth-button').innerHTML = '<a href="/logout" class="btn">Logout</a>';
                }
            },
            error: function() {
                // Handle error
                document.getElementById('auth-button').innerHTML = '<a href="/login" class="btn">Login</a>';
            }
        });
    });
  </script>
  
  </html>


