<!DOCTYPE html>
<html lang="en">
<head>
<title>Prim ajutor </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="../static/manifest.json">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/style_firstaid.css" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>


</style>
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
</head>
<body>



<!-- Header -->
<header class="w3-container  w3-red" style="padding-bottom: 255px ; background-image: url('../static/FirstAid/landing2.png'); background-size: cover; background-position: center;">
  <div class="mama">
    <div class="stanga">
        <div class="list hideOnMobile"><a href="/FirstAid">Ridicarea Rautek</a></div>
        <div class="list hideOnMobile"><a href="/Heimlich">Manevra Heimlich</a></div>
    </div>
    <div class="logo hideOnMobile">
      <a href="/"><img src="../static/FirstAid/logo1.png" alt="Logo"/></a>
    </div>
    <div class="dreapta">
        <div class="list hideOnMobile"><a href="/CPR">Masaj Cardiac</a></div>
        <div class="list hideOnMobile"><a href="/safe_position">Poziţia de siguranță</a></div>
       
      </div>
      
 </div>
 
 <nav class="hideOnDesktop">
  <div class="Menu hideOnDesktop"> 
    <a href="/" class="logo"><img src="../static/FirstAid/logo1.png" alt="Logo"/></a>
    <svg class="burger-menu" onclick="showSidebar()" xmlns="http://www.w3.org/2000/svg" height="10px" viewBox="0 -960 960 960" width="10px" fill="#000000">
      <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
    </svg>
  </div>

  <div class="sidebar">
    <li>
      <svg onclick="hideSidebar()" xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#000000">
        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
      </svg>
    </li>
    <li><a href="/FirstAid">Ridicarea Rautek</a></li>
    <li><a href="/Heimlich">Manevra Heimlich</a></li>
    <li><a href="/CPR">Masaj Cardiac</a></li>
    <li><a href="/safe_position">Poziţia de siguranță</a></li>
  </div>
</nav>
 

    <h1 class="w3-margin w3-center w3-jumbo titlu" style="font-weight: 800; color:white">Poziția de siguranță</h1>
   
  <div class="video-container">
    <video playsinline controls> 
      <source src="../static/FirstAid/safe.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>




</header>



<!-- Steps Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-center row-wrapper">
  <button class="styled-button" onclick="startProcess()">Începe</button>
<div class="w3-row-padding w3-padding-64 w3-container w3-center row-wrapper">
  <h1>Pasul 1</h1>
  <div class="w3-content grid-container w3">
    
    <div class="grid-item w3-l">
     
      <h5 class="w3-padding-32 text-justify" > Victimele care şi-au pierdut cunoştinţa şi 
care respiră normal ar trebui aşezate în 
poziţia de siguranță. Procedează în aşa 
fel încât capul victimei să fie înclinat pe 
spate şi gura să fie orientată către sol. 
În acest fel, căile respiratorii ale victimei 
vor rămâne libere. De asemenea, voma 
şi sângele nu vor pătrunde în plămânii 
acesteia.
Dacă este cazul, scoate ochelarii 
victimei. </h5>
     
    </div>
    <div class="grid-item" style="background-color: #f1f1f1;">
 
      <h5 class="w3-padding-32 text-justify" id="TextToSpeech1">
        Îngenuncheză în spatele capului victimei.
         Așază o mână sub cap și pe cealaltă între omoplații victimei. 
         Ridică cu atenție capul și umerii victimei si apropie-te mai mult de aceasta.
        <br>
        Pune braţul victimei, care se află 
        cel mai aproape de tine, în unghi 
        drept faţă de corp. Îndoaie braţul 
        victimei în aşa fel încât palma să fie 
        orientată în sus
      </h5>
      
    </div>
    
  </div>
  <img class="imgsafe" src="../static/FirstAid/safe1.png" alt="Pasul 2" id="Video1">
</div>

<div class="w3-row-padding w3-padding-64 w3-container w3-center row-wrapper">
  
  <div class="w3-content grid-container w3">
    <div class="grid-item" >
      <h1 >Pasul 2</h1>
      <h5 class="w3-padding-32 text-justify " id="TextToSpeech2"> Adu celălalt braţ al victimei peste 
        piept aşezând dosul palmei pe 
        obraz. Menține-i mâna în această 
        poziție.</h5>
      <img src="../static/FirstAid/safe2.png" alt="Pasul 3" style="width:100%" id="Video2">
    </div>
    <div class="grid-item" >
      <h1>Pasul 3</h1>
      <h5 class="w3-padding-32 text-justify " id="TextToSpeech3">Cu mâna liberă trage în sus 
        genunchiul aflat în partea opusă.  
        Fă în aşa fel încât să ridici 
        genunchiul, însă talpa piciorului 
        victimei să rămână lipită de pământ.</h5>
      <img src="../static/FirstAid/safe3.png" alt="Pasul 4" style="width:100%" id="Video3">
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container w3-center row-wrapper">
  
  <div class="w3-content grid-container w3">
    <div class="grid-item" >
      <h1 >Pasul 4</h1>
      <h5 class="w3-padding-32 text-justify" id="TextToSpeech4"> Trage genunchiul îndoit al victimei 
        către tine, menţinând dosul palmei 
        sale lipit de obrazul acesteia. 
        Întoarce victima către tine, dar 
        procedează în aşa fel încât aceasta 
        să rămână în poziţia culcat. 
        </h5>
      <img src="../static/FirstAid/safe4.png" alt="Pasul 5" style="width:100%" id="Video4">
    </div>
    <div class="grid-item" >
      <h1>Pasul 5</h1>
      <h5 class="w3-padding-32 text-justify" id="TextToSpeech5" >Așază piciorul situat deasupra  
        într-un unghi drept.
        </h5>
      <img class="iamge-height" src="../static/FirstAid/safe5.png" alt="Pasul 4" style="width:100%" id="Video5">
    </div>
  </div>
</div>

<div class="w3-content grid-container w3">
  <div class="grid-item" >
    <h1 >Pasul 6</h1>
    <h5 class="w3-padding-32 text-justify" id="TextToSpeech6">
      Împinge capul victimei spre spate 
      pentru a menține căile respiratorii 
      deschise.
      Asigură-te de faptul că gura victimei 
      este orientată către sol. În acest 
      fel se previne înecarea acesteia cu 
      sânge sau vomă.
      </h5>
    <img src="../static/FirstAid/safe6.png" alt="Pasul 3" style="width:100%" id="Video6">
  </div>
  <div class="grid-item" >
    <h1>Pasul 7</h1>
    <h5 class="w3-padding-32 text-justify " id="TextToSpeech7">
      Dacă e nevoie, potrivește mai bine 
mâna victimei sub obraz, astfel încât 
capul acesteia să rămână înclinat 
către spate. 
Verifică respiraţia victimei la fiecare 
minut. Această tehnică poate fi 
aplicată şi atunci când vrei să aşezi 
un bebeluş sau un copil în poziţia de 
siguranță. Dacă este vorba despre 
un bebeluş, poţi să-l sprijini cu 
spatele pe o pernă sau pe o pătură 
rulată în prealabil. Astfel bebeluşul 
are o poziţie mai stabilă.
      </h5>
    <img  src="../static/FirstAid/safe7.png" alt="Pasul 4" style="width:100%" id="Video7">
  </div>
</div>
</div>

</div>



<script>


let currentStep = 1;
const totalSteps = 7;

function startProcess() {
    readCurrentStep();
}

function readCurrentStep() {
    const divId = `TextToSpeech${currentStep}`;
    const videoId = `Video${currentStep}`;
    const textElement = document.getElementById(divId);
    const stepElement = document.getElementById(videoId);

    if (textElement && stepElement) {
        stepElement.scrollIntoView({ behavior: 'smooth', block: 'end' });
        
        const text = textElement.innerText;
        const msg = new SpeechSynthesisUtterance();
        msg.text = text;
        msg.lang = 'ro-RO';
        msg.volume = 1;
        msg.rate = 1;
        msg.pitch = 1;
        msg.onend = function() {
            askToContinue();
        };
        window.speechSynthesis.speak(msg);
    } else {
        console.error("Element with id '" + divId + "' not found.");
    }
}

function askToContinue() {
    const msg = new SpeechSynthesisUtterance();
    msg.text = 'Doriți să continuați? Spuneți da sau nu.';
    msg.lang = 'ro-RO';
    msg.volume = 1;
    msg.rate = 1;
    msg.pitch = 1;
    msg.onend = function() {
        startSpeechRecognition();
    };
    window.speechSynthesis.speak(msg);
}

function startSpeechRecognition() {
    if (!('webkitSpeechRecognition' in window)) {
        alert('Web Speech API is not supported in this browser.');
        return;
    }

    const recognition = new webkitSpeechRecognition();
    recognition.lang = 'ro-RO';

    recognition.onresult = function(event) {
        const transcript = event.results[0][0].transcript.toLowerCase();
        console.log('Transcript: ', transcript);

        if (transcript.includes('da')) {
            if (currentStep < totalSteps) {
                currentStep++;
                readCurrentStep();
            } else {
                const msg = new SpeechSynthesisUtterance();
                msg.text = 'Ați terminat toți pașii.';
                msg.lang = 'ro-RO';
                msg.volume = 1;
                msg.rate = 1;
                msg.pitch = 1;
                window.speechSynthesis.speak(msg);
            }
        } else if (transcript.includes('nu')) {
            readCurrentStep();
        } else {
            const msg = new SpeechSynthesisUtterance();
            msg.text = 'Răspuns nerecunoscut. Vă rog să spuneți da sau nu.';
            msg.lang = 'ro-RO';
            msg.volume = 1;
            msg.rate = 1;
            msg.pitch = 1;
            msg.onend = function() {
                startSpeechRecognition();
            };
            window.speechSynthesis.speak(msg);
        }
    };

    recognition.onerror = function(event) {
        console.error('Speech recognition error', event.error);
        //alert('Speech recognition error: ' + event.error);
        readCurrentStep();
    };

    recognition.start();
}



function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}





function showSidebar() {
  const sidebar = document.querySelector('.sidebar');
  const Menu = document.querySelector('.Menu');
  sidebar.style.display = 'flex'
  Menu.style.display = 'none'
}
function hideSidebar() {
  const sidebar = document.querySelector('.sidebar');
  sidebar.style.display = 'none'
  const Menu = document.querySelector('.Menu');
  Menu.style.display = 'flex'

}

window.onresize = function() {
  if(window.outerWidth < 800) {
    const sidebar = document.querySelector('.sidebar');
    sidebar.style.display = 'none'
    const Menu = document.querySelector('.Menu');
    Menu.style.display = 'flex'
  }
}
window.onresize = function() {
  if(window.outerWidth > 800) {
    const sidebar = document.querySelector('.sidebar');
    sidebar.style.display = 'none'
    const Menu = document.querySelector('.Menu');
    Menu.style.display = 'flex'
  }
}




</script>

</body>
</html>